<div class="min-h-screen flex items-center justify-center bg-white px-4 py-12">
  <div class="w-full max-w-md space-y-8">
    <h1 class="text-center text-3xl font-bold text-gray-800">ログイン</h1>

    <%= form_with url: login_path, method: :post, local: true do %>
      <div class="space-y-6 bg-white shadow-md rounded px-8 pt-6 pb-8">
        <!-- メールアドレス -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">メールアドレス</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path d="M16 12H8m0 0h8m-8 0v8m8-8v8" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              </svg>
            </div>
            <%= text_field_tag :email, params[:email] %>
          </div>
        </div>

        <!-- パスワード -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">パスワード</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path d="M12 11c0-1.105-.895-2-2-2s-2 .895-2 2m4 0c0 1.105-.895 2-2 2s-2-.895-2-2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              </svg>
            </div>
            <%= password_field_tag :password %>
          </div>
        </div>

        <!-- ログインボタン -->
        <div>
          <%= submit_tag 'ログイン', class: "w-full py-2 px-4 bg-indigo-500 hover:bg-indigo-600 text-white font-semibold rounded-lg shadow-md" %>
        </div>
      </div>
    <% end %>

    <!-- 補助リンク -->
    <div class="text-center text-sm text-gray-600 mt-4 space-y-1">
      <p>アカウントをお持ちでない方 <%= link_to '新規登録', new_user_path, class: "text-indigo-600 hover:underline font-semibold" %></p>
      <p>パスワードを忘れた方  <%= link_to 'こちら', new_password_reset_path, class: 'text-blue-500 ml-2' %></a></p>
      <p><%= link_to 'トップページに戻る', root_path, class: 'text-blue-500 ml-2' %></p>
    </div>
  </div>
</div>
