<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bento" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Bento">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://example.com/">
    <meta property="og:image" content="https://example.com/ogp-image.jpg">
    <meta property="og:description" content="Bentoは、美味しいお弁当を見つけられるサービスです。">
    <meta property="og:site_name" content="Bento">
    <meta property="og:locale" content="ja_JP">

    <!-- Twitter(X) Card (optional) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bento">
    <meta name="twitter:description" content="Bentoは、美味しいお弁当を見つけられるサービスです。">
    <meta name="twitter:image" content="https://example.com/ogp-image.jpg">
  </head>

  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="redirect_placeholder"></div>
  </body>
</html>
